.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
    width: 228px;
    height: 32px;
    background-size: cover;
}

.logo_place_header {
    background-image: url(../../images/logo_place_header.svg);
    position: absolute;
    top: 30px;
    left: 64px;
}

.section-title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
}

.section-title_theme_light {
    padding: 0;
}

.section-title_theme_dark {
    color: white;
    padding-top: 90px;
}

.section-subtitle {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 60%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.section-subtitle_theme_dark {
    color: white;
}

.link-animation {
    transition-property: opacity;
    transition: ease 1s;
}

.link-animation:hover {
    opacity: 0.5;
}

.two-columns {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.two-columns__brief {
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    width: 175px;
}

.two-columns__main-text {
    margin: 0;
    min-width: 784px;
    width: 80%;
    display: flex;
    flex-direction: column;
    line-height: 34px;
    font-size: 24px;
    font-style: normal;
    justify-content: space-between;
}

.two-columns__paragraph {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
    margin-bottom: 30px;
}

.two-columns__paragraph:nth-of-type(3n) {
    margin-bottom: 0;
}

.two-columns__span-accent {
    font-weight: 600;
}

.logo_place_footer {
    background-image: url(../../images/logo_place_footer.svg);
    width: 228px;
    height: 32px;
}